body { 
	margin: auto;
	background: #2924af; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #2924af 0%, #a9d2f3 9%, #95e29d 26%, #90bcea 37%, #8db5af 45%, #9ec0e2 53%, #1ebf56 68%, #bdf3fd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2924af), color-stop(9%,#a9d2f3), color-stop(26%,#95e29d), color-stop(37%,#90bcea), color-stop(45%,#8db5af), color-stop(53%,#9ec0e2), color-stop(68%,#1ebf56), color-stop(100%,#bdf3fd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #2924af 0%,#a9d2f3 9%,#95e29d 26%,#90bcea 37%,#8db5af 45%,#9ec0e2 53%,#1ebf56 68%,#bdf3fd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #2924af 0%,#a9d2f3 9%,#95e29d 26%,#90bcea 37%,#8db5af 45%,#9ec0e2 53%,#1ebf56 68%,#bdf3fd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #2924af 0%,#a9d2f3 9%,#95e29d 26%,#90bcea 37%,#8db5af 45%,#9ec0e2 53%,#1ebf56 68%,#bdf3fd 100%); /* IE10+ */
background: linear-gradient(135deg,  #2924af 0%,#a9d2f3 9%,#95e29d 26%,#90bcea 37%,#8db5af 45%,#9ec0e2 53%,#1ebf56 68%,#bdf3fd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2924af', endColorstr='#bdf3fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.left-nav {
	position: fixed;
	top: 350px;
	left:13px;
	width: 180px;
	height: 350px;
	
}

.link  {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
	border-radius: 15px;
	border: 2px solid #3F7BC4;
	/*background-color: #aaa9a2;*/
	background: -moz-linear-gradient(-45deg,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	text-align: center;
}

.link a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.link a:hover {
	color: white;
	
}

#header {
	background: #859db5; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #859db5 1%, #a9d2f3 9%, #95e29d 26%, #90bcea 37%, #8db5af 45%, #9ec0e2 53%, #1ebf56 68%, #bdf3fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#859db5), color-stop(9%,#a9d2f3), color-stop(26%,#95e29d), color-stop(37%,#90bcea), color-stop(45%,#8db5af), color-stop(53%,#9ec0e2), color-stop(68%,#1ebf56), color-stop(100%,#bdf3fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #859db5 1%,#a9d2f3 9%,#95e29d 26%,#90bcea 37%,#8db5af 45%,#9ec0e2 53%,#1ebf56 68%,#bdf3fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #859db5 1%,#a9d2f3 9%,#95e29d 26%,#90bcea 37%,#8db5af 45%,#9ec0e2 53%,#1ebf56 68%,#bdf3fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #859db5 1%,#a9d2f3 9%,#95e29d 26%,#90bcea 37%,#8db5af 45%,#9ec0e2 53%,#1ebf56 68%,#bdf3fd 100%); /* IE10+ */
	background: linear-gradient(135deg,  #859db5 1%,#a9d2f3 9%,#95e29d 26%,#90bcea 37%,#8db5af 45%,#9ec0e2 53%,#1ebf56 68%,#bdf3fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#859db5', endColorstr='#bdf3fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	margin-top:10px;
	padding-left: 5px;
	padding-top: 5px;
	height: 150px;
	border: 3px solid green;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

#header div {
	width: 900px;
	margin: auto;
}

#header img {
	width: 300px;
	height: 150px;
	display: inline;
	float:left;
	margin-right: 10px;
}

#header h1 {
	float:left;
	display: inline;
	width: 250px;
	text-align: center;
}

#main {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 3px solid green;
}

.section {
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.section h1 {
	text-align: center;
}

.section p {
	text-indent: 15px;
	font-size: 20px;
}

#point1 img{
	width: 240px;
	height: 360px;
	display: inline;	
	margin-right: 10px;
	padding-left: 50px;
	padding-top: 30px;
	

}

#point10 a{
	color: black;
	text-decoration: none;
	padding-left: 120px;
	font-size: 20px;
	
}

#point10 a:hover {
	color: white;
	
}